# Copy this file to secrets.auto.tfvars
# and fill in your own secure values.

db_name           = "devsecjobs"
db_user           = "appuser"
db_password       = "REPLACE_ME"
db_root_password  = "REPLACE_ME"

project_name      = "your-project-name"
aws_region        = "your own aws_region"
account_id        = "your own account_id"
